<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Информация о {{.OrderUID}}</title>
</head>
<body>
    <p>OrderUID: {{.OrderUID}}</p>
    <p>TrackNumber: {{.TrackNumber}}</p>
    <p> Entry: {{.Entry}}</p>
    <p>Delivery: {{.Delivery}}</p>
    <p>Payment: {{.Payment}}</p>
    <p>Items: {{.Items}}</p>
    <p>Locale: {{.Locale}}</p>
    <p>InternalSignature: {{.InternalSignature}}</p>
    <p>CustomerID: {{.CustomerID }}</p>
    <p>DeliveryService: {{.DeliveryService}} </p>
    <p>Shardkey: {{.Shardkey}}</p>
    <p>SmID: {{.SmID}}</p>
    <p>DateCreated: {{.DateCreated}}</p>
    <p>OofShard: {{.OofShard}}</p>
</body>
</html>